@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --borderColor: #1f1f1f;
  --codeBlock: "171717";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-robt: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --codeBlock: "#fcfcfc";
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


body::selection {
  background-color: white;
  color: black;
}
